.container-company-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-divisor{
    margin: 5px;
	text-align: center;
    font-size: 1.5em;
    width: 100%;
    flex: 1;
    align-self: center;
}

.name-company-info {
	flex: 2;
}

.mat-progress-bar{
    height: 25px;
    width: 60%;
    float: left;
}
.format-subtitle-p{
    font-size: 20px;
    margin-bottom: 5px;
}
.format-icon{
    font-size: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}