<mat-card>
    <div class="container-company-info">
        <div class="content-divisor name-company-info">
            <h2 style="margin-bottom: 14px; margin-top: -8px;">Empresa de Teste</h2>
            <div class="subtitle-company-info">CNPJ 4566-656-/1654</div>
        </div>
        <div class="content-divisor">
            <div class="progressbar-campany-info">
                <p class="format-subtitle-p" style="margin-bottom: 29px;margin-top: 10px;">Limite atual do grupo</p>
                <mat-progress-bar mode="determinate" value="50" class="mat-progress-bar"></mat-progress-bar>
            </div>            
        </div>
        <div class="content-divisor">
            <div class="date-company-info">
                <p class="format-subtitle-p">Vencimento</p>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="format-icon">date_range</mat-icon>               
            </div>
        </div>
        <div class="content-divisor">
            <div class="rating-company-info">
                <p class="format-subtitle-p">Rating</p>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="format-icon">star_rate</mat-icon>               
            </div>
        </div>
        <div class="content-divisor">
            <div class="setor-company-info">
                <p class="format-subtitle-p">Setor</p>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="format-icon">pie_chart</mat-icon>               
            </div>
        </div>
    </div>
</mat-card> 