<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="30">
    <h3>{{ person.name }}</h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div>
      Age: {{ person.age }} - Address: {{ person.address }} - City:
      {{ person.city }} - Country:{{ person.country }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button
      mat-flat-button
      color="accent"
      (click)="update.emit(person)"
      style="margin-right: 10px;"
    >
      Change
    </button>
    <button mat-flat-button color="warn" (click)="delete.emit(person)">
      Remove
    </button>
  </div>
</div>
